## The Complete Oracle SQL Certification Course 
- New Udemy course I am taking 
- Usint the apex.oracle.com website in a free workspace

- SELECT *
- FROM (SELECT * FROM dept) d RIGHT OUTER JOIN (SELECT * FROM emp WHERE job = 'SALESMAN') e
- ON e.deptno = d.deptno;