### SQL Bootcamp 2022 on Udemy

#### Getting in some understanding of Joins
##### INNER JOIN
##### OUTER JOIN
##### FULL JOIN
##### UNION

## How to join three tables. example:
- SELECT
- student.first_name,
- student.last_name,
- course.name
- FROM student
- JOIN student_course
- ON student.id = student_course.student.id
- JOIN course
- ON course.id = student_course.course_id;